*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Cabecera*/
.fixed-top {
background-color: rgb(0, 123, 255);
}
.navbar-light .navbar-brand {
  color: rgba(255, 255, 255);
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: rgba(255, 255, 255);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
  text-align: center;
}
/*boton desplegable en dispositivos pequeños*/
.fa-bars:before {
  content: "\f0c9";
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
.navbar-light .navbar-toggler {
  border: 1.5px solid rgb(255, 255, 255);
}
/*Media queries para la optimización de móvil a escritorio(responsive breakpoints)*/
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  :root {
    font-size: 15px;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(33, 37, 41);
    background-color: rgb(250, 250, 250);
  }
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: rgb(33, 37, 41);
    background-color: rgb(250, 250, 250);
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
  .navbar-light .navbar-nav .nav-link::after {
    content: "";
    display: block;
    height: 3px;
    background-color: rgb(255, 255, 255);
    /*  width: 0; */
    transform: scale(0, 1); /*transformaciones*/
    transform-origin: center left;
    transition: transform 0.5s; /*transiciones*/
  }
  .navbar-light .navbar-nav .nav-link:focus::after,
  .navbar-light .navbar-nav .nav-link:hover::after {
    /*  width: 100%; */
    transform: scale(1, 1);
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
  }
}
